.exam-card{
    text-align: center;
   background-color: rgb(89, 89, 89);
}
.card-header{
    padding-bottom: 40px;
    background-image: linear-gradient(141deg, #000428   0%, 
    #004e92 51%, 
    #004e92 75%);
}