<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet"> 
<ion-header>
  <ion-toolbar>
    <ion-title id="title">{{ isLogin ? 'Login Here' : 'SignUp' }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding class="padding">
  <form #f="ngForm" >
    <ion-grid>
        <div padding-horizontal text-center class="animated fadeInDown">
    <div class="logo"></div>
    
    <ion-img [src]="selectedImage"></ion-img><br><br><br><br><br>
  </div><br><br><br><br>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list class = "emailpassword">             
            <ion-item>
             <ion-icon name="person" slot="start" class="icon"></ion-icon>
              <ion-label position="floating">E-Mail</ion-label>             
              <ion-input
                type="email"                
                ngModel
                name="email"
                required
                email
                [(ngModel)]="email"
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none" 
            >
              <ion-label class="label">
                Should be a valid email address.
              </ion-label>             
            </ion-item>
            <ion-item>
              <ion-icon name="key" slot="start" class="icon"></ion-icon>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                id="pass"
                ngModel
                name="password"
                required
                minlength="6"
                [(ngModel)]="password"
                #passwordCtrl="ngModel"
              ></ion-input>             
            </ion-item>           
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label class="label">
                Should at least be 6 characters long.
              </ion-label>
            </ion-item>

            <div  *ngIf ="multiBranch">
          <ion-item >
            <ion-icon name="git-branch" slot="start" class="icon"></ion-icon>
          <ion-label position="floating">Branch</ion-label>
            <ion-select [ngModel]="Branch" name="Branch" required #LoginAsCtrl="ngModel" minlength="1">
              <ion-select-option *ngFor="let branch of branchList ;let i=index" [value]="branch.value">{{branch.label}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item
              *ngIf="!LoginAsCtrl.valid && LoginAsCtrl.touched"
              lines="none"
            >
              <ion-label>
                Should be Select a Branch.
              </ion-label>
            </ion-item> 
          </div> 
            <!-- <ion-item>
              <ion-label position="floating">School Code</ion-label>
              <ion-input
                type="text"
                ngModel
                name="schoolCode"
                required 
                minlength="1"
                #schoolCode="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf=" !schoolCode.valid && schoolCode.touched"
              lines="none"
            >
              <ion-label>
                Should be enter school code.
              </ion-label>
            </ion-item> -->
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <!-- <ion-button
            type="button"
            color="primary"
            fill="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
          >
            Switch to {{ isLogin ? 'Signup' : 'Login' }}
          </ion-button> -->
          <ion-button 
          	id="login"
            type="submit"                   
            [disabled]="!f.valid"
            (click)="authenticate(email,password ,f )"
          ><ion-icon name="log-in" class="login" slot="end"></ion-icon>
             {{ isLogin ? 'Login' : 'SignUp' }} 
          </ion-button>         
        </ion-col>
      </ion-row><br><br>
     <ion-row>    
        	<ion-col size-sm="6" offset-sm="3" >
            <a  id = "forgot"routerLink = "/signup">Register Yourself</a>
        	</ion-col>
    	</ion-row><br><br><br><br>      
    </ion-grid>
  </form>
  <!-- <div text-center>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>