.exam-card{
    text-align: center;
   background-color: rgb(89, 89, 89);
}
.card-header{
    padding-bottom: 40px;
    background-image: linear-gradient(141deg, #ad5389 0%, 
    #3c1053 51%, 
    #3c1053 75%);
}