.exam-card{
    text-align: center;
   background-color: rgb(89, 89, 89);
}
.card-header{
    padding-bottom: 40px;
    background-image: linear-gradient(141deg, #ff512f   0%, 
    #dd2476 51%, 
    #dd2476 75%);
}