    /*super-tab-button:hover{
        background-color: red;
    }*/
    b{
      color: red;
    }
    ion-label{
      color: #fff;
      font-size: 10px;
    }
    .download{
    	color: rgb(255,255,255);
    	
    }
    button{
      width: 100px;
      height: 100px;
    }
    .header .col {
    background-color:lightgrey;
    }

    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
    }

    .col:last-child {
        border-right: solid 1px grey;
    }

    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
    ion-tab-button:hover{
    	background-color: #809BDE ;
    }
    .ionlabel{
    	color: #2F1571;	
    	font-weight: 700;
    }	
  	.img{
  		border-radius: 15px;
  	}
  	.ion-card-content .h1{
  		padding-bottom: 15px;
  	}
    .heading{
      background-color: #71CB88;
    }
    th{
      padding-top: 2px;
      padding-bottom: 2px;
    }
   
   
  