.feeDetail-header{
    padding: 2%;
    text-align: center; 
    color:black;
}
.list-header{
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.subject-mark{
    font-size: 18px; 
    color:black;
    text-align:center;
    padding:10%;
}
