#slide{
    font-family: raleway;
    padding: 10%;
    border:2px;
    border-color: black;
  
}
hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
.dash-nav{
    padding-bottom: 8.5%;
    text-align: center; 
    color:var(--ion-color-primary);
    
}
.dash-col{
    padding-bottom: 8.5%;
    border:1% 2% 3% 4%;
}
.exam-card{
    text-align: center;
   background-color: rgb(89, 89, 89);
}
