.feeDetail-header{
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: center; 
    color:white;
    background-color:var(--ion-color-primary) ;
    
}
.list-header{
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
