.exam-card{
    text-align: center;
   background-color: rgb(89, 89, 89);
}
.card-header{
    padding-bottom: 40px;
    background-image: linear-gradient(141deg, #43cea2   0%, 
    #185a9d 51%, 
    #185a9d 75%);
}